#body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; right: 1px; width:100%; }

.leaflet-popup-content {
        width: 320px;
 }
.leaflet-popup-content img {
        max-width: 100%;
}
.leaflet-popup-content input {
		/*background-color: #26F2C3;*/
        width: 100%;
        font-size:14px;
        background-color: #3887BE;
  		text-align: center;
  		color: #fff;
  		display: inline-block;
  		margin: 0px;
  		padding: 10px;
  		position: relative;
  		border: none;
  		cursor: pointer;
  		border-radius: 3px;
  		white-space: nowrap;
  		text-overflow: ellipsis;
  		font-family: 'Open Sans Bold', sans-serif;
  		line-height: 20px;
  		font-size: 14px;
  		-webkit-appearance: none;
  		-webkit-font-smoothing: antialiased;
}

.leaflet-popup-content input:hover {
		background-color: #3074a4;
}


.menu-ui {
  background:#fff;
  position:absolute;
  top:10px;right:10px;
  z-index:1;
  border-radius:3px;
  width:150px;
  border:1px solid rgba(0,0,0,0.4);
  }
.menu-ui a {
	font-family: futura;
    font-size:13px;
    color:#404040;
    display:block;
    margin:0;padding:0;
    padding:5px 10px;
    text-decoration:none;
    border-bottom:1px solid rgba(0,0,0,0.25);
    text-align:center;
    }
.menu-ui a:first-child {
    border-radius:3px 3px 0 0;
    }
.menu-ui a:last-child {
    border:none;
    border-radius:0 0 3px 3px;
    }
.menu-ui a:hover {
    background:#f8f8f8;
    color:#404040;
    }
.menu-ui a.active {
    background:#000;
    color:#FFF;
    }
.menu-ui a.return {
    background:#3887BE;
    color:#FFF;
    }
.menu-ui a.return:hover {
    background:#3074a4;
    }