#map { height: 600px;
        width:90%;
        border-top:5px solid #000;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
}

#body { margin:0; padding:15; }
#header {
    background-image: url("images/backgroundMedium.png");
    background-repeat: repeat;
}

#full-page-map {
    display: block;
    width: 88%;
    text-align: center;
    background-color: #26F2C3;
    color: #fff;
    margin-left: 15px;
    padding: 10px 10px 10px 10px;
    position: relative;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: futura;
    line-height: 20px;
    font-size: 16px;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}
#full-page-map:hover {
    background-color: #00CEA0;
}

#go-full-page {
    color: #ffffff;
    text-decoration: none;
}

#bm_logo {
    max-width: 250px; 
    margin: 40px 10px 0px 40px;
}

#social-img {
    width: 40px;
}

#layoutbreak {
        font-family: futura;
        clear:both;
        /*border-top:4px solid #000;*/
        margin:0;
        padding:6px 50px !important;
        color: #ffffff;
        font-size: 20px;
        text-align:left;
        background-color: #26F2C3;

    }


/* column container */
    .colmask {
        position:relative;      /* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
        clear:both;
        float:left;
        width:100%;         /* width of whole page */
        overflow:hidden;    /* This chops off any overhanging divs */
    }
    /* 2 column left menu settings */
    .leftmenu {
        /*background:#FFD8B7;*/
        /*background-color: #1237D2;*/
        background-image: url("images/backgroundMedium.png");
        background-repeat: repeat;*/

    }
    .leftmenu .colright {
        float:left;
        width:200%;
        position:relative;
        left:300px;
        background:#fff;
    }
    .leftmenu .col1wrap {
        float:right;
        width:50%;
        position:relative;
        right:200px;
        padding-bottom:0em;

    }
    .leftmenu .col1 {
        font-family: futura;
        margin:0 15px 0 200px;
        position:relative;
        right:100%;
        overflow:hidden;
        background-image: url("images/backgroundMedium.png");
        background-repeat: repeat;
        
    }
    #col1txt {
       margin-left: 50px;
       margin-right: 120px;
       color: #fff;
    }
    #col1txt p {
        font-family: "Futura Light", Helvetica, arial, sans-serif;
        margin-left:10px;
    }
    #col1txt ul {
        clear:left;
        float:left;
        width:100%;
        list-style:none;
        margin:10px 0 0 0;
        padding:0;
        
    }
    #col1txt ul li {
        text-indent: 0;
        text-align:center;
        display:inline;
        list-style:none;
        display:block;
        float:left;
        margin:0 0 0 5px;
        padding:3px 10px;
        background:#eee;
        color:#000;
        text-decoration:none;
        position:relative;
        left:5px;
        line-height:1.3em;
    }
    
    #col1txt ul li:hover {
        background:#369;
        color:#fff;
    }
    #col1txt ul li.active,
    #col1txt ul li.active:hover {
        color:#fff;
        background:#000;
        font-weight:bold;
    }
    .leftmenu .col2 {
        float:left;
        width:249px;
        position:relative;
        right:250px;
        border-right: 1px solid #fff;
        height: 1058px;

    }
    .leftmenu .col2 li {
        display: inline;
    }
    .leftmenu .col2 h2 {
        font:futura;
        font-size: 24px;
        color: #fff;
    }

    #linkList dt { margin: 6px 6px 3px 12px; }

    #appstore_links {
        font: futura;
        font-size: 18px;
        color: #ccc;
    }
    #appstore_links:hover {
        color: #000;
    }

    #appstores {
        width: 175px;
        padding-top: 15px;
    }
    #social-media li {
        margin: 0px 0px 0px 10px;
    }

    #footer p {
        background-color: #464646;
        color: #ccc;
        margin: 10px 0;
        text-align: center;
    }

.leaflet-popup-content {
        width: 320px;
 }
.leaflet-popup-content img {
        max-width: 100%;
}
.leaflet-popup-content input {
        /*background-color: #26F2C3;*/
        width: 100%;
        font-size:14px;
        background-color: #3887BE;
        text-align: center;
        color: #fff;
        display: inline-block;
        margin: 0px;
        padding: 10px;
        position: relative;
        border: none;
        cursor: pointer;
        border-radius: 3px;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-family: 'Open Sans Bold', sans-serif;
        line-height: 20px;
        font-size: 14px;
        -webkit-appearance: none;
        -webkit-font-smoothing: antialiased;
}

.leaflet-popup-content input:hover {
        background-color: #3074a4;
}